
@{
    ViewBag.Title = "Transferencia Monetaria";
    if (Session["CUENTA"] == null || Session["NOMBRE"] == null)
    {
        Response.Redirect("~/Login/vLogin");
    }
}

<h2 align="center">Transferencia Monetaria</h2>
<h2 align="center">Bienvenido(a) @Session["NOMBRE"].</h2>
<form method="post">
    <br />
    <table align="center">
        <tr>
            <td>Monto:</td>
            <td><input type="number" name="monto" id="txtNombre" /></td>
        </tr>
      
        <tr><td><button type="submit">Realizar Transferencia</button></td></tr>

    </table>

 @if (TempData["nombre"] != null)
 {
    <h3>@TempData["nombre"] </h3>
    <h3>@TempData["cuenta"] </h3>
    <h3>@TempData["apellido"] </h3>
 }
    <h3>@TempData["message"] </h3>
</form>



